.Store {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.Store-Body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.Store-Body h1:not(.Store-Header h1) {
    font-family: "Inconsolata";
    font-family: "Yanone Kaffeesatz";
    font-size: 3em;
    font-weight: 600;
    align-self: flex-start;
    margin-left: 20px;
    margin-top: 20px;
}

.Store-Main {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.Card-Container {
    width: 100%;
    height: min-content;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(557px, 1fr));
    gap: 20px;
    row-gap: 50px;
    justify-items: center;
    align-items: center;
    margin-bottom: 200px;
}


/* @media only screen and (max-width: 1771px) {
    .Store {
        height: 100%;
    }
} */





